CONNECTION_ID= ConnectionId from client end. You can find it from connected organizations of client interface eg. "2cdced5c-792c-42fa-ad9d-35b5d123f7d8"
ORGANIZATION_ID= Organation email to whom client will send data eg. "org1@rec.com"
CLIENT_ID = Client email eg. "client1@rec.com"
CLIENT_API_ENDPOINT = Client api endpoint eg. "http://localhost:4001"